.splitter {
    margin-top: 2rem;
    padding-bottom: rem;
    border-top: 3px solid $primary;
}

.splitter2 {
    margin-top: 0.2rem;
    padding-bottom: 0.5rem;
    border-top: 3px solid $secondary;
}

.topmargin {
    margin-top: 1rem;
}

.topmarginS {
    margin-top: 0.5rem;   
}



